@import "tailwindcss";

:root {
  --color-primary: #1c3aa4;
  --color-secondary: #7dfec5;
  --color-border: #2c4fc9;
  --color-text: #a6b7f5;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}
.custom-inner-container {
  max-width: 1620px;
  margin: 0 auto;
}
.custom-border {
  border-bottom: 1px solid var(--color-border);
}
.custom-button {
  padding: 14px 28px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 600;
}
.custom-button:hover {
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
